#version=RHEL7
# System authorization information
auth --enableshadow --passalgo=sha512

# Use CDROM installation media
cdrom
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=static --device=ens33 --gateway=192.168.1.1 --ip=192.168.1.    226 --nameserver=192.168.1.1,8.8.8.8 --netmask=255.255.255.0 --ipv6=auto --activ    ate
network  --hostname=centos7main
# Root password
rootpw --iscrypted $6$cGYEeAGL9TTzXIHK$XQjS113od4dc4vcR3eAkig3YCvt5RkTi9rCzRhJCK    7P/UOKpgIDG9b2wMfypzTUJCW2E7/qnGEfrmzqGGBahV0
# System timezone
timezone America/New_York --isUtc
# System bootloader configuration
bootloader --location=mbr --boot-drive=sda
autopart --type=lvm
# Partition clearing information
clearpart --none --initlabel

%packages
@core

%end

